{% set view = 'Find support' %}

{% extends "/layouts/dfe-service-v03.html" %}

{% set pageName="Setting up home allowance" %}

{% block header %}

<div class="govuk-width-container">
{{ govukPhaseBanner({
  tag: {
    text: "Alpha"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
}) }}
</div>


{{ header({
    "showNav": "true",
    "showSearch": "false",
    "showHeaderActionLinks": "false",
    "logoPath": "public/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "logoAltText": "Department for Education",
    "homeHref": "/home",
    "selectedNav": view,
    "service": {
      "name": "Find support for leaving care",
      "serviceUrl": "/"
    },
    "headerActionLinks": [
      {
        "url"  : "/",
        "label" : "My account"
      },
      {
        "url"  : "/",
        "label" : "Sign out"
      }
    ],
    "primaryLinks": [
        {
        "url"  : "home",
        "label" : "Home"
      }, {
        "url"  : "all-support",
        "label" : "Find support"
      },  {
        "url"  : "status",
        "label" : "Care leaver statuses"
      },  {
        "url"  : "guide-leaving-care",
        "label" : "Leaving care process"
      },  {
        "url"  : "guides-advice",
        "label" : "Guides"
      }, {
        "url"  : "helplines",
        "label" : "Helplines"
      }
    ]
  })
}}

<section class="dfe-page-grey">
   <div class="govuk-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">

            <nav class="govuk-breadcrumbs govuk-body-s" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list govuk-body-s">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="home">Home</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="all-support">Find support</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="category-housing">Housing and accomodation</a>
              </li>
              
            </ol>
          </nav>

           <h1 class="govuk-heading-xl">
            Setting up home allowance
           </h1>
          
         </div>
      </div>
   </div>
</section>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <button class="dwp-side-navigation__button" data-module="dwp-side-navigation"
        data-target="dwp-side-navigation-panel"
        data-label-hide="Hide navigation"
        data-label-show="Show navigation"
        aria-expanded="false">
        <span class="dwp-side-navigation__section-toggle-focus">
        <span class="dwp-side-navigation__chevron dwp-side-navigation__chevron--down"></span>
        <span class="dwp-side-navigation__section-toggle-text">Show navigation</span>
        </span>
        </button>
        <style>
      ul {
        list-style-type: none;
        margin-left: 15px;

      }
      ul li:before {
        content: '\2013';
        position: absolute;
        margin-left: -15px;
      }
    </style>
        <nav data-module="dwp-side-navigation-panel" class="dwp-side-navigation dwp-side-navigation--mobile" aria-label="Side" role="navigation">
          <ul class="dwp-side-navigation__list dwp-side-navigation__list--dashed">
          <li class="dwp-side-navigation__item">
            <a id="d-item-1" href="support-home-allowance" class="dwp-side-navigation__link">
              What is the Setting up home allowance?
            </a>
          </li>
          <li class="dwp-side-navigation__item">
            <a id="d-item-2" href="support-home-allowance-2" class="dwp-side-navigation__link">
              Who is entitled to it
            </a>
          </li>
          <li class="dwp-side-navigation__item">
            <a id="d-item-3" href="support-home-allowance-3" class="dwp-side-navigation__link">
              How much you'll get
            </a>
          </li>
          <li class="dwp-side-navigation__item">
            <a id="d-item-4" href="support-home-allowance-4" class="dwp-side-navigation__link">
              How and when you'll get it
            </a>
          </li>
          <li class="dwp-side-navigation__item">
            <a id="d-item-5" href="support-home-allowance-5" class="dwp-side-navigation__link">
              If you're receiving other support
            </a>
          </li>
          <li class="dwp-side-navigation__item">
            <a id="d-item-6" href="support-home-allowance-6" class="dwp-side-navigation__link">
              Issues with this support
            </a>
          </li>
          <li class="dwp-side-navigation__item dwp-side-navigation__link">
              Further information
          </li>
          </ul>
        </nav>
    
      </div>
<div class="govuk-grid-column-two-thirds">

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="further-info">Further information</h2>
    <p>To find out more about Care Leaver's Grant, speak to your local council.</p>
    <p>You may also be entitled to a council tax exemption based on your <a href="#">‘Local Offer’</a>.</p>

    {{ govukPagination({
            previous: {
              labelText: "Issues with this support",
              href: "support-home-allowance-6"
            }
          }) }}

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <div class="gem-c-metadata" data-module="gem-toggle metadata" data-gem-toggle-module-started="true" data-metadata-module-started="true">
      <dl class="gem-c-metadata__list">
        <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-education">Department for Education</a>
          </dd>
          <dt class="gem-c-metadata__term">Published</dt>
          <dd class="gem-c-metadata__definition">07 October 2024</dd>
          <dt class="gem-c-metadata__term">Last updated</dt>
          <dd class="gem-c-metadata__definition">25 October 2024</dd>
      </dl>
    </div>
    <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-8">
      <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link" data-print-link-module-started="true">Print this page</button>
    </div>

    

  </div>
  <div class="govuk-grid-column-one-third">
    <div class="gem-c-related-navigation" style="margin-top: 50px;">
      <h2 class="govuk-heading-s" style="margin-top: 15px;">
        Related support
      </h2>
      <nav>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link govuk-body-s" href="#">Specific support no1</a>
          </li>
          <li>
            <a class="govuk-link govuk-body-s" href="#">Specific support no2</a>
          </li>
          <li>
            <a class="govuk-link govuk-body-s" href="#">Specific support no3</a>
          </li>
          <li>
            <a class="govuk-link govuk-body-s" href="#">Specific support no4</a>
          </li>
          <li>
            <a class="govuk-link govuk-body-s" href="#">Specific support no5</a>
          </li>
          
        </ul>
      </nav>
    </div>
    <a href="#"><img class="full-width-image" alt="Care" src="/public/images/share.png" style="max-width: 300px;"></a>
  </div>
</div>
  

    
          </section>

          
    
  </div>
</div>
    
  </div>
</div>

{% endblock %}
