{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/status-02a" method="post">
      <span class="govuk-caption-l">Care leaver status checker</span>
    {{ govukRadios({
      name: "stat2a",
      value: data['stat2a'],
      fieldset: {
        legend: {
          text: "Were you in care for 13 weeks or longer after your 14th birthday?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "3a",
          text: "Yes"
        },
        {
          value: "3b",
          text: "No"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

    </form>
  </div>
</div>

{% endblock %}
