{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/status-03c" method="post">
      <span class="govuk-caption-l">Care leaver entitlement checker</span>
    {{ govukRadios({
      name: "stat3c",
      value: data['stat3c'],
      fieldset: {
        legend: {
          text: "Are you still in care?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "4e",
          text: "Yes"
        },
        {
          value: "4f",
          text: "No"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

    </form>
  </div>
</div>

{% endblock %}
