{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/status-01" method="post">
      <span class="govuk-caption-l">Care leaver status checker</span>
    {{ govukRadios({
      name: "stat1",
      value: data['stat1'],
      fieldset: {
        legend: {
          text: "Were you in care on or after your 16th birthday?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "2a",
          text: "Yes"
        },
        {
          value: "2b",
          text: "No"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

    {{ govukDetails({
      summaryText: "How to tell if I was 'in care'?",
      text: "In care is a term the government use...."
    }) }}

    </form>
  </div>
</div>

{% endblock %}
