{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">Status checker 3c</h1>
    <p>Intro info</p>

    <form class="form" action="/status-03c" method="post">

    {{ govukRadios({
      name: "stat3c",
      value: data['stat3c'],
      fieldset: {
        legend: {
          text: "When did Elon Musk turn evil?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "4e",
          text: "He has always been evil"
        },
        {
          value: "4f",
          text: "Trump did it"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

    </form>
  </div>
</div>

{% endblock %}
