{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">Care leaver status result</h1>


    {% from "govuk/components/panel/macro.njk" import govukPanel %}

    {{ govukPanel({
      titleText: "No Care Leaver Status",
      html: "Check your local authority for further support."
    }) }}
    <p><a href="/status-checker/v01/status-01">Start over</a></p>
  </div>
</div>

{% endblock %}
