{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/status-03b" method="post">
      <span class="govuk-caption-l">Care leaver entitlement checker</span>
    {{ govukRadios({
      name: "stat3b",
      value: data['stat3b'],
      fieldset: {
        legend: {
          text: "How old are you?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "4b",
          text: "Under 16"
        },
        {
          value: "4h",
          text: "16 or 17"
        },
        {
          value: "4g",
          text: "18 to 24"
        },
        {
          value: "4d",
          text: "25 and over"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

    </form>
  </div>
</div>

{% endblock %}
