{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-m">User research - Alpha round 1 - 23rd Sept - 30 Sept 2024</h2>
    <p><a href="/status-checker/v01/status-01">GOV.UK - status checker</a> </p>
    <p><a href="/govuk/leaving-foster-care">Current GOV.UK guidance (prototype version)</a></p>



    <div style="margin-top:100px;">
      <hr>


      {% include "govuk-prototype-kit/includes/homepage-top.njk" %}
      {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
    </div>
  </div>
</div>

{% endblock %}
